---
---

@charset "utf-8";

// Color

$white: #FFF;
$black: #000;

$neutral-1: #F5F8FA;
$neutral-2: #EBF1F5;
$neutral-3: #E1E8ED;
$neutral-4: #CED9E0;
$neutral-5: #BFCCD6;
$neutral-6: #8A9BA8;
$neutral-7: #5C7080;
$neutral-8: #394B59;
$neutral-9: #293742;
$neutral-10: #182026;

$primary-1: #ECF5FA;
$primary-2: #D2E6F3;
$primary-3: #AED2E8;
$primary-4: #80B8DB;
$primary-5: #4B9BCD;
$primary-6: #137CBD;
$primary-7: #1068A4;
$primary-8: #0E5489;
$primary-9: #0B3F6F;
$primary-10: #082A54;

$info-1: #ECF5FA;
$info-2: #D2E6F3;
$info-3: #AED2E8;
$info-4: #80B8DB;
$info-5: #4B9BCD;
$info-6: #137CBD;
$info-7: #1068A4;
$info-8: #0E5489;
$info-9: #0B3F6F;
$info-10: #082A54;

$success-1: #ECF7F2;
$success-2: #D2ECE1;
$success-3: #ADDCC8;
$success-4: #7EC8A9;
$success-5: #48B186;
$success-6: #0F9960;
$success-7: #0D8556;
$success-8: #0B704B;
$success-9: #095B41;
$success-10: #074636;

$warning-1: #FCF5EE;
$warning-2: #F8E7D7;
$warning-3: #F2D4B6;
$warning-4: #EBBC8D;
$warning-5: #E2A05E;
$warning-6: #D7812B;
$warning-7: #C06925;
$warning-8: #A64F20;
$warning-9: #8C3B1A;
$warning-10: #702614;

$danger-1: #FCEEEE;
$danger-2: #F7D7D7;
$danger-3: #F1B6B6;
$danger-4: #E98D8D;
$danger-5: #E15E5E;
$danger-6: #D72B2B;
$danger-7: #BE262F;
$danger-8: #A32030;
$danger-9: #8A1B2E;
$danger-10: #70152A;

$tmpl-1: #FAEBFA;
$tmpl-2: #EADAEA;
$tmpl-3: #D9BBD9;
$tmpl-4: #C394C3;
$tmpl-5: #AA68AA;
$tmpl-6: #8F398F;
$tmpl-7: #7C317B;
$tmpl-8: #692A66;
$tmpl-9: #562250;
$tmpl-10: #421A3B;


// Size

$size-unit: 4px;
$size-0: $size-unit * 0.5; // 2px
$size-1: $size-unit * 1; // 4px
$size-2: $size-unit * 2; // 8px
$size-3: $size-unit * 3; // 12px
$size-4: $size-unit * 4; // 16px
$size-5: $size-unit * 5; // 20px
$size-6: $size-unit * 6; // 24px
$size-7: $size-unit * 7; // 28px
$size-8: $size-unit * 8; // 32px
$size-9: $size-unit * 9; // 36px

$spacing-0: $size-0; // 最小间距，即使是两个紧挨着的控件之间也有一定的间距，而不是 0 间距（除了 Tab、GroupButton 之类互相重叠、间距为负的除外）
$spacing-s: $size-1; // 较小间距
$spacing-m: $size-2; // 标准间距
$spacing-l: $size-3; // 较大间距


// Border

$border-width-thin: 1px;
$border-width-medium: 2px;
$border-width-thick: 4px;

$border-radius-0: 0px;
$border-radius-s: 2px;
$border-radius-m: 4px;
$border-radius-l: 8px;
$border-radius-max: 999px; // QSS 不支持该设置，效果是最大圆角，即 min(height,width)/2


// Icon

$icon-size-s: 12px;
$icon-size-m: 14px;
$icon-size-l: 18px;

// Text

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-heading-s: 18px;
$font-size-heading-m: 24px;
$font-size-heading-l: 32px;

$color-text-label-dark: $neutral-10;
$color-text-label-normal: $neutral-8;
$color-text-label-light: $neutral-7;
$color-text-label-faint: $neutral-5;

$color-text-label-info: $primary-6;
$color-text-label-success: $success-6;
$color-text-label-warning: $warning-6;
$color-text-label-danger: $danger-6;

//背景遮罩层

$color-background-mask-hover: rgba( $neutral-8, .18 ); 
$color-background-mask-pressed: rgba( $neutral-8, .38 ); 
$color-background-mask-disabled: rgba( $neutral-8, .08 ); 
$color-background-mask-modal: rgba( $neutral-8, .5 ); 

$color-background-mask-inverse-hover: rgba( $neutral-3, .18 ); 
$color-background-mask-inverse-pressed: rgba( $neutral-3, .38 ); 
$color-background-mask-inverse-modal: rgba( $neutral-3, .5 ); 

$neutral-8-alpha-2: rgba( $neutral-8, .18 ); 
$neutral-8-alpha-4: rgba( $neutral-8, .38 ); 
$neutral-3-alpha-2: rgba( $neutral-3, .18 ); 
$neutral-3-alpha-4: rgba( $neutral-3, .38 ); 







// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "layout",
        "background",
        "font",
        "button",
        "tab",
        "input",
      	"qpushbutton",
      	"qprogressbar"
;
