	<div class="uigroup">	
	    <div class="row ui header">
	   		<div class="col-12">
	   			<div class="float-left">
	   				<label class="label-title">Avatar</label>
	   			</div>
		    </div>
		</div>
    	<!-- intent -->	    	
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Color</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="avatar"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="avatar"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/06.png"></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="avatar"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/03.png"></div>
			        </div>
		        </div>
	        </div>
	    </div>

		<!-- size -->
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Size</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="avatar small circle"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
				        <div class="avatar small square"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="avatar medium circle"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
				        <div class="avatar medium square"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="avatar large circle"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
				        <div class="avatar large square"><img src="https://liukanshan.zhihu.com/images/downloads/avatars/friend/01.png"></div>
			        </div>
		        </div>
	        </div>
	    </div>


		<!-- State -->
   		<div class="col-4 loat-left">
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
		       			<label class="label-heading-small">State</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
						 none
			        </div>
		        </div>
	        </div>
	    </div>

		<div class="row">  
	    	<!-- Code -->	    	
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
<!-- 					<pre>
						<code>{% include button_code.css %}</code>
					</pre> -->
		        </div>
		    </div>
    	</div>
	</div>
