<section id="button" class="container">
	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12">
	   			<div class="uicell float-left">
	   				<label class="heading-large">Buttons</label>
	   			</div>
		    </div>
		</div>


	    <div class="row">
	    	<!-- intent -->
	   		<div class="col-4 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-small">Intent</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
					        <button class="button">normal</button>
					        <button class="button intent-primary" >primary</button>
					        <button class="button intent-danger" >danger</button>
					        <button class="button intent-link" >link</button>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
					        <button class="button" disabled>normal</button>
					        <button class="button intent-primary" disabled>primary</button>
					        <button class="button intent-danger" disabled>danger</button>
					        <button class="button intent-link" disabled>link</button>
				        </div>
			        </div>
		        </div>
		    </div>

			<!-- size -->
	   		<div class="col-4 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-small">Size</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <button class="button size-small">small</button>
					        <button class="button">normal</button>
					        <button class="button size-large">large</button>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <button class="button intent-primary size-small">small</button>
					        <button class="button intent-primary">normal</button>
					        <button class="button intent-primary size-large">large</button>
				        </div>
			        </div>
		        </div>
		    </div>

			<!-- icon -->
	   		<div class="col-4 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-small">Icon</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<button class="button icon-small"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small intent-primary"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal intent-primary"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button intent-primary"><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>	        
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<button class="button icon-small plain"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small plain" actived><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain" actived><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button plain"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button plain" actived><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left bg-inverse">
							<button class="button icon-small plain-inverse"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain-inverse"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small plain-inverse" actived><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain-inverse" actived><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button plain-inverse"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button plain-inverse" actived><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>
		        </div>
		    </div>
		</div>

	    <div class="row">
	    	<!-- intent -->
	   		<div class="col-12 loat-left">
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			       			<label class="heading-small">Group</label>	
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">			      
			   					<button class="button group-first">group</button>
			        			<button class="button group-last icon-normal"><span class="fa fa-caret-down" title="Toggle dropdown menu"></span></button> 
			   					<button class="button group-first intent-primary">save</button>
			        			<button class="button group-last intent-primary icon-normal"><span class="fa fa-caret-down" title="Toggle dropdown menu"></span></button>


			   					<button class="button group-first">first</button>
			   					<button class="button group-middle">middle</button>
			   					<button class="button group-last">last</button>

					        	<button class="button icon-normal group-first"><i class="fa fa-align-left" title="Align Left"></i></button>
						        <button class="button icon-normal group-middle"><i class="fa fa-align-center" title="Align Center"></i></button>
						        <button class="button icon-normal group-last"><i class="fa fa-align-right" title="Align Right"></i></button>

				        </div>
			        </div>
		        </div>
		    </div>
		</div>


    </div>
</section>
