
/* 按钮的基本样式*/
.button{    
    // display: inline-block;
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-m;
    $border-width: $border-width-thin;

    height: $font-size * 1.5 + $padding-v * 2 + $border-width * 2; // 1.5倍的行高 + 上下 padding + 上下 border（QSS 中不需要额外加 padding 和 border）
    min-width: $font-size * 3 + $padding-h * 2 + $border-width * 2; // 3个文字的宽度 + 左右 padding + 左右 border（QSS 中不需要额外加 padding 和 border）
    padding: $padding-v $padding-h;
    margin:0;

    font-size: $font-size;
    color: $neutral-8;
    text-align: center;

    background-color: $neutral-1;
    background-image: linear-gradient(0deg, rgba( $white, 0), rgba( $white, 1));
    border: $border-width solid $neutral-5;
    border-radius: $border-radius-m;
}

/* 普通按钮的各个状态*/
.button:hover {
    background-color: $white;
}

.button:active {
    background-color: $neutral-3;
}
.button:disabled {    
    color: $neutral-7;
    background-color: $neutral-4;
    background-image: none;
    border-color: $neutral-4;  // disable 状态下，border 与 background 采样相同颜色（以确保宽高一致、但看上去是无边框效果
    opacity: 0.8;

}


/* intent-primary 显著按钮的状态样式 */
.intent-primary {
    background-color: $primary-6;
    background-image: linear-gradient(0deg, rgba( $white, 0), rgba( $white, .1));
    border: $border-width-thin solid $primary-8;
    color: $neutral-1;
}
.intent-primary:hover, .intent-primary[onhover]{
    background-color: $primary-5;
    border: $border-width-thin solid $primary-7;
    color: $neutral-1;
}
.intent-primary:active, .intent-primary[onactive] {
    background-color: $primary-7;
    border: $border-width-thin solid $primary-8;
    color: $neutral-1;
}
.intent-primary:disabled {
    background-color: $primary-3;
    border: $border-width-thin solid $primary-3;
    color: $primary-1;
    opacity: 0.8;
}

/* intent-danger 危险按钮的状态样式 */
.intent-danger {
    background-color: $danger-6;
    background-image: linear-gradient(0deg, rgba( $white, 0), rgba( $white, .1));
    border: $border-width-thin solid $danger-8;
    color: $neutral-1;
}
.intent-danger:hover {
    background-color: $danger-5;
    border: $border-width-thin solid $danger-5;
    color: $neutral-1;
}
.intent-danger:active {
    background-color: $danger-7;
    border: $border-width-thin solid $danger-7;
    color: $neutral-1;
}
.intent-danger:disabled {
    background-color: $danger-3;
    border: $border-width-thin solid $danger-3;
    color: $danger-1;
    opacity: 0.8;
}

/* intent-link 无框按钮的状态样式 */
.intent-link {
    color: $primary-6;
    background: transparent;
    border: $border-width-thin solid transparent;
}
.intent-link:hover {
    color: $primary-5;
    text-decoration: underline;
    background: transparent;
}
.intent-link:active {
    color: $primary-7;
    text-decoration: underline;
    background: transparent;
}
.intent-link:disabled {
    color: $primary-4;
    background: transparent;
    border: $border-width-thin solid transparent;
    opacity: 0.8;
}

.intent-plain{
    color: $neutral-8;
    background: transparent;
    border: $border-width-thin solid transparent;
}
.intent-plain:hover{
    background-color: $background-color-mask-hover;
}
.intent-plain:active{
    background-color: $background-color-mask-pressed;
}

.intent-plain:disabled{
    color: $neutral-6;
    background-color: transparent;
    border: $border-width-thin solid transparent;
    opacity: 0.8;
}

.plain:hover,.plain[actived]:hover{
    background-color: $background-color-mask-hover;
}
.plain:active,.plain[actived]:active{
    background-color: $background-color-mask-pressed;
}

.plain-inverse,{
    background: transparent;
    border: 0;
    color: $primary-1;
}
.plain-inverse[actived]{
    background: transparent;
    // border: 0;
    color: $primary-5;
}

.plain-inverse:hover,.plain-inverse[actived]:hover{
    background-color: $background-color-mask-inverse-hover;
    // border: 0;
}
.plain-inverse:active,.plain-inverse[actived]:active{
    background-color: $background-color-mask-inverse-pressed;
    // border: 0;
}

/* 不同的按钮尺寸 */
.size-small{
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-m;
    $border-width: $border-width-thin;

    height: $font-size + $spacing-xs + $padding-v * 2 + $border-width * 2; // 1.5倍的行高 + 上下 padding + 上下 border（QSS 中不需要额外加 padding 和 border）
    min-width: $font-size + $font-size-m + $padding-h * 2 + $border-width * 2; // 3个文字的宽度 + 左右 padding + 左右 border（QSS 中不需要额外加 padding 和 border）
    padding: $padding-v $padding-h;

    font-size: $font-size;
}

.size-normal{
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-m;
    $border-width: $border-width-thin;

    height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; // 1.5倍的行高 + 上下 padding + 上下 border（QSS 中不需要额外加 padding 和 border）
    min-width: $font-size + $font-size-m * 2 + $padding-h * 2 + $border-width * 2; // 3个文字的宽度 + 左右 padding + 左右 border（QSS 中不需要额外加 padding 和 border）
    padding: $padding-v $padding-h;

    font-size: $font-size;
}

.size-large{
    $font-size: $font-size-l;
    $padding-v: $spacing-s;
    $padding-h: $spacing-l;
    $border-width: $border-width-thin;

    height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; // 1.5倍的行高 + 上下 padding + 上下 border（QSS 中不需要额外加 padding 和 border）
    min-width: $font-size + $font-size-m * 2 + $padding-h * 2 + $border-width * 2; // 3个文字的宽度 + 左右 padding + 左右 border（QSS 中不需要额外加 padding 和 border）
    padding: $padding-v $padding-h;

    font-size: $font-size;
}

.size-fill{
    $font-size: $font-size-l;
    $padding-v: $spacing-s;
    $padding-h: $spacing-l;
    $border-width: $border-width-thin;

    height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; // 1.5倍的行高 + 上下 padding + 上下 border（QSS 中不需要额外加 padding 和 border）
    min-width: 100%;
    padding: $padding-v $padding-h;

    font-size: $font-size;
}

/* Icon按钮类型 */
.icon-small{    
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-xs;
    $border-width: $border-width-thin;

    min-height: $font-size + $spacing-xs + $padding-v * 2 + $border-width * 2; 
    max-height: $font-size + $spacing-xs + $padding-v * 2 + $border-width * 2; 
    min-width: $font-size + $spacing-xs + $padding-h * 2 + $border-width * 2;
    padding: $padding-v $padding-h;
}
.icon-normal{
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-xs;
    $border-width: $border-width-thin;

    min-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2;
    max-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2;
    min-width: $font-size + $font-size-m / 2 + $padding-h * 2 + $border-width * 2; 
    padding: $padding-v $padding-h;
}
.icon-large{
    $font-size: $font-size-l;
    $padding-v: $spacing-s;
    $padding-h: $spacing-s;
    $border-width: $border-width-thin;

    min-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    min-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    min-width: $font-size + $font-size-m / 2 + $padding-h * 2 + $border-width * 2; 
    padding: $padding-v $padding-h;
}

/* 下拉箭头 Icon 按钮 */
.icon-dropdown-small{    
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-xs;
    $border-width: $border-width-thin;

    min-height: $font-size + $spacing-xs + $padding-v * 2 + $border-width * 2;
    max-height: $font-size + $spacing-xs + $padding-v * 2 + $border-width * 2;
    min-width: $font-size / 2 + $spacing-xs + $padding-h * 2 + $border-width * 2; 
    max-width: $font-size / 2 + $spacing-xs + $padding-h * 2 + $border-width * 2; 
    padding: $padding-v $padding-h;
}
.icon-dropdown-normal{
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-xs;
    $border-width: $border-width-thin;

    min-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    max-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    min-width: $font-size / 2 + $spacing-s + $padding-h * 2 + $border-width * 2; 
    max-width: $font-size / 2 + $spacing-s + $padding-h * 2 + $border-width * 2; 
    padding: $padding-v $padding-h;

}
.icon-dropdown-large{
    $font-size: $font-size-l;
    $padding-v: $spacing-s;
    $padding-h: $spacing-s;
    $border-width: $border-width-thin;

    min-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    max-height: $font-size + $font-size-m / 2 + $padding-v * 2 + $border-width * 2; 
    min-width: $font-size / 2 + $spacing-s + $padding-h * 2 + $border-width * 2; 
    max-width: $font-size / 2 + $spacing-s + $padding-h * 2 + $border-width * 2; 
    padding: $padding-v $padding-h;
}



/* group 由多个按钮组成 */
.group-first{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.group-middle{
    border-radius: 0;
    margin-left: -5px;
}
.group-last{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
}

.plain,{
    background: transparent;
    border: 0;
    color: $neutral-8;
}
.plain[actived],{
    background: transparent;
    // border: 0;
    color: $primary-6;
}



.iconactived{
    // background-color: $primary-1;
    border: $border-width-thin solid $primary-4;
}

