<section id="button" class="container">
	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12 border-bottom">
	   			<div class="uicell float-left">
	   				<label class="heading-large">Buttons</label>
	   			</div>
		    </div>
		</div>

	    <div class="row">
	   		<div class="col-12">
	   			<div class="uicell float-left">
			        <button class="button">normal</button>

			        <button class="button group-first">normal</button>
			        <button class="button group-last icon-normal"><span class="fa fa-caret-down" title="Toggle dropdown menu"></span></button>

		        	<button class="button group-first icon-normal">L</button>
		        	<button class="button group-middle icon-normal">M</button>
		        	<button class="button group-last icon-normal">R</button>  	
		        </div>
		    </div>
		</div>

	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button">normal</button>
			        <button class="button intent-primary" >primary</button>
			        <button class="button intent-danger" >danger</button>
			        <button class="button intent-link" >link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button" disabled>normal</button>
			        <button class="button intent-primary" disabled>primary</button>
			        <button class="button intent-danger" disabled>danger</button>
			        <button class="button intent-link" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
					<button class="button icon-normal plain"><span class="fa fa-window-minimize" title="Minimize"></span></button>
					<button class="button icon-normal plain"><i class="fa fa-window-restore" title="Restore"></i></button>
					<button class="button icon-normal plain"><i class="fa fa-times" title="Close"></i></button>
					
					<button class="button icon-normal plain" actived><i class="fa fa-cog" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>

	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button size-large">normal</button>
			        <button class="button intent-primary size-large">primary</button>
			        <button class="button intent-danger size-large">danger</button>
			        <button class="button intent-link size-large">link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button size-large" disabled>normal</button>
			        <button class="button intent-primary size-large" disabled>primary</button>
			        <button class="button intent-danger size-large" disabled>danger</button>
			        <button class="button intent-link size-large" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
					<button class="button icon-large plain"><span class="fa fa-window-minimize fa-lg" title="Minimize"></span></button>
					<button class="button icon-large plain"><i class="fa fa-window-restore fa-lg" title="Restore"></i></button>
					<button class="button icon-large plain"><i class="fa fa-times fa-lg" title="Close"></i></button>
					
					<button class="button icon-large plain" actived><i class="fa fa-cog fa-lg" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>

	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button size-small">normal</button>
			        <button class="button intent-primary size-small">primary</button>
			        <button class="button intent-danger size-small">danger</button>
			        <button class="button intent-link size-small">link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button size-small" disabled>normal</button>
			        <button class="button intent-primary size-small" disabled>primary</button>
			        <button class="button intent-danger size-small" disabled>danger</button>
			        <button class="button intent-link size-small" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
					<button class="button icon-small plain"><span class="fa fa-window-minimize fa-sm" title="Minimize"></span></button>
					<button class="button icon-small plain"><i class="fa fa-window-restore fa-sm" title="Restore"></i></button>
					<button class="button icon-small plain"><i class="fa fa-times fa-sm" title="Close"></i></button>

					<button class="button icon-small plain" actived><i class="fa fa-cog fa-sm" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>

	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button">normal</button>
			        <button class="button intent-primary"><i class="fa fa-cog"></i> primary</button>
			        <button class="button intent-danger"><i class="fa fa-cog"></i> danger</button>
			        <button class="button intent-link">link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button" disabled><i class="fa fa-cog"></i> normal</button>
			        <button class="button intent-primary" disabled><i class="fa fa-cog"></i> primary</button>
			        <button class="button intent-danger" disabled><i class="fa fa-cog"></i> danger</button>
			        <button class="button intent-link" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
		        	<button class="button icon-normal group-first"><i class="fa fa-align-left" title="Align Left"></i></button>
			        <button class="button icon-normal group-middle"><i class="fa fa-align-center" title="Align Center"></i></button>
			        <button class="button icon-normal group-last"><i class="fa fa-align-right" title="Align Right"></i></button>

			        <button class="button icon-normal"><i class="fa fa-cog" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>

	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button size-large"><i class="fa fa-cog fa-lg"></i> normal</button>
			        <button class="button intent-primary size-large"><i class="fa fa-cog fa-lg"></i> primary</button>
			        <button class="button intent-danger size-large"><i class="fa fa-cog fa-lg"></i> danger</button>
			        <button class="button intent-link size-large">link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button size-large" disabled><i class="fa fa-cog fa-lg"></i> normal</button>
			        <button class="button intent-primary size-large" disabled><i class="fa fa-cog fa-lg"></i> primary</button>
			        <button class="button intent-danger size-large" disabled><i class="fa fa-cog fa-lg"></i> danger</button>
			        <button class="button intent-link size-large" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
		        	<button class="button icon-large size-large group-first"><i class="fa fa-align-left fa-lg" title="Align Left"></i></button>
			        <button class="button icon-large size-large group-middle"><i class="fa fa-align-center fa-lg" title="Align Center"></i></button>
			        <button class="button icon-large size-large group-last"><i class="fa fa-align-right fa-lg" title="Align Right"></i></button>

			        <button class="button icon-large size-large"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>
	    <div class="row">
	    	<div class="col-4">
	   			<div class="uicell float-left">
			        <button class="button size-small"><i class="fa fa-cog fa-sm"></i> normal</button>
			        <button class="button intent-primary size-small"><i class="fa fa-cog fa-sm"></i> primary</button>
			        <button class="button intent-danger size-small"><i class="fa fa-cog fa-sm"></i> danger</button>
			        <button class="button intent-link size-small">link</button>
		        </div>
	    	</div>
	    	<div class="col-4"> 	
		   			<div class="uicell">	
			        <button class="button size-small" disabled><i class="fa fa-cog fa-sm"></i> normal</button>
			        <button class="button intent-primary size-small" disabled><i class="fa fa-cog fa-sm"></i> primary</button>
			        <button class="button intent-danger size-small" disabled><i class="fa fa-cog fa-sm"></i> danger</button>
			        <button class="button intent-link size-small" disabled>link</button>
		        </div>
	    	</div>
	    	<div class="col-4">
	   			<div class="uicell">
		        	<button class="button icon-small size-small group-first"><i class="fa fa-align-left fa-sm" title="Align Left"></i></button>
			        <button class="button icon-small size-small group-middle"><i class="fa fa-align-center fa-sm" title="Align Center"></i></button>
			        <button class="button icon-small size-small group-last"><i class="fa fa-align-right fa-sm" title="Align Right"></i></button>

			        <button class="button icon-small size-small"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
			        <button class="button icon-small size-small"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
	        	</div>
	    	</div>
 	    </div>



    </div>
</section>
