	<div class="uigroup">	
	    <div class="row ui header">
	   		<div class="col-12">
	   			<div class="float-left">
	   				<label class="label-title">Button</label>
	   			</div>
		    </div>
		</div>
    	<!-- intent -->	    	
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Color</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton">normal</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-primary" >primary</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-danger" >danger</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-link" >link</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-plain" >plain</div>
			        </div>
		        </div>
	        </div>
	    </div>
		<!-- size -->
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Size</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-small">small</div>
						<div class="QPushButton size-small icon"><i class="fa fa-cog" title="Setting"></i></div>
						<div class="QPushButton size-small icon dropdown"><i class="fa fa-caret-down" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="QPushButton size-small fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-normal">normal</div>
						<div class="QPushButton size-normal icon"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
						<div class="QPushButton size-normal icon dropdown"><i class="fa fa-caret-down fa-lg" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="QPushButton size-normal fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-large">large</div>
						<div class="QPushButton size-large icon"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
						<div class="QPushButton size-large icon dropdown"><i class="fa fa-caret-down fa-lg" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="QPushButton size-large fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
	    </div>

		<!-- State -->
   		<div class="col-4 loat-left">
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
		       			<label class="label-heading-small">State</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton">normal</div>
				        <div class="QPushButton" onhover>hover</div>
				        <div class="QPushButton" onactive>pressed</div>
				        <div class="QPushButton" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-primary">normal</div>
				        <div class="QPushButton intent-primary" onhover>hover</div>
				        <div class="QPushButton intent-primary" onactive>pressed</div>
				        <div class="QPushButton intent-primary" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-danger">normal</div>
				        <div class="QPushButton intent-danger" onhover>hover</div>
				        <div class="QPushButton intent-danger" onactive>pressed</div>
				        <div class="QPushButton intent-danger" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-link">normal</div>
				        <div class="QPushButton intent-link" onhover>hover</div>
				        <div class="QPushButton intent-link" onactive>pressed</div>
				        <div class="QPushButton intent-link" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-plain">normal</div>
				        <div class="QPushButton intent-plain" onhover>hover</div>
				        <div class="QPushButton intent-plain" onactive>pressed</div>
				        <div class="QPushButton intent-plain" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	    </div>

		<div class="row">  
	    	<!-- Code -->	    	
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
<!-- 					<pre>
						<code>{% include button_code.css %}</code>
					</pre> -->
		        </div>
		    </div>
    	</div>
	</div>
