<section id="button">
    <div>
        <div class="Button size-small">Button</div>
        <div class="Button intent-primary">Button</div>
        <div class="Button intent-danger size-large">Button</div>
        <div class="Button group-first icon-small">l</div>
        <div class="Button group-middle icon-small">m</div>
        <div class="Button group-last icon-small">r</div>
        <div class="Button group-first icon-normal">L</div>
        <div class="Button group-middle icon-normal">M</div>
        <div class="Button group-last icon-normal">R</div>
    </div>
</section>
