<section id="color" class="container">
	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12 border-bottom">
	   			<div class="uicell float-left">
	   				<label class="label-heading-large">Color Palette</label>
	   			</div>
		    </div>
		</div>

	    <div class="row">
	    	<div class="col-4">
				<div class="uicell float-left"><button class="button">normal</button></div>
				<div class="uicell float-left"><button class="button">normal</button></div>
				<div class="uicell float-left"><button class="button">normal</button></div>
	    	</div>
	    	<div class="col-4">
				<div class="uicell"><button class="button">normal</button></div>
				<div class="uicell"><button class="button">normal</button></div>
				<div class="uicell"><button class="button">normal</button></div>  
	    	</div>
	    	<div class="col-4">
				<div class="uicell float-right"><button class="button">normal</button></div>
				<div class="uicell float-right"><button class="button">normal</button></div>
				<div class="uicell float-right"><button class="button">normal</button></div>  	
	    	</div>
	    </div>
    </div>
</section>
