
/* 输入框基本样式*/
.QLineEdit{    
    $font-size: $font-size-m;
    $padding-v: $spacing-xs;
    $padding-h: $spacing-s;
    $border-width: $border-width-thin;

    min-height: $font-size * 1.5; // 1.5倍的行高
    max-height: $font-size * 1.5; // 1.5倍的行高
    min-width: $font-size * 9; // 9个文字的宽度
    max-width: $font-size * 9; // 9个文字的宽度
    padding: $padding-v $padding-h;
    margin:0;

    font-size: $font-size;
    color: $neutral-10;
    text-align: left;

    background-color: $white;
    border: $border-width solid $neutral-5;
    border-radius: $border-radius-s;
}

.QLineEdit.nodeinput{
    border-radius: $border-radius-max;
}
.QLineEdit.size-fill{
    width: 100%;
    max-width: 100%;
}
.QLineEdit.error{
    $border-width: $border-width-thin;    
    border: $border-width solid $danger-6;
}

.QLineEdit[paraState="templatize"]{
    background-color: $tmpl-1;
}

.QLineEdit:hover{
    $border-width: $border-width-thin;    
    border: $border-width solid $primary-5;
}

.QLineEdit:active{
    $border-width: $border-width-thin;
    border-style: inset;    
    border: $border-width solid $primary-6;
}

.QLineEdit.onfocus{
    $border-width: $border-width-thin;
    border: $border-width solid $primary-6;
}

.QLineEdit:disabled{ 
    background-color: $neutral-3;
    color: $neutral-6;
    cursor: not-allowed；
}

input::-webkit-input-placeholder { color: $neutral-6; }
input::-moz-placeholder { color: $neutral-6; }
input:-ms-input-placeholder { color: $neutral-6; }
input:-moz-placeholder { color: $neutral-6; }