<section id="input" class="container">
	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12">
	   			<div class="uicell float-left">
	   				<label class="size-heading-large">Label</label>
	   			</div>
		    </div>
		</div>


	    <div class="row">
	  		<!-- ParameterType -->
	   		<div class="col-4">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="size-heading-medium">Intent</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
					<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-dark">Dark</div>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-normal">Normal</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-light">Light</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-faint">Faint</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-info">Info</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-success">Success</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-warning">Warning</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-danger">Danger</div>
				        </div>
		       		</div>
		        </div>
		    </div>

	    	<!-- Size -->
	   		<div class="col-4">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="size-heading-medium">Size</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
					<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-large">Heading Large</div>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-medium">Heading Medium</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-small">Heading Small</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-title">Title</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-body">Body</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-caption">Caption</div>
				        </div>
		       		</div>
		        </div>
		    </div>
	    </div>


		<div class="row">  
	    	<!-- Code -->	    	
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
<!-- 					<pre>
						<code>{% include input_code.css %}</code>
					</pre> -->
		        </div>
		    </div>
    	</div>
    </div>
</section>
