<section id="input" class="container">
	<div class="uigroup">
	    <div class="row ui header">
	   		<div class="col-12">
	   			<div class="float-left">
	   				<label class="label-title">Label</label>
	   			</div>
		    </div>
		</div>

	    <div class="row">

	   		<div class="col-4">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-small">Color</label>	
				        </div>
			        </div>
		        </div>
   				<div class="row"><div class="body separator"></div></div>
	   			<div class="row">
					<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-dark">Dark</div>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-normal">Normal</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-light">Light</div>
				        </div>
		       		</div>
		        </div>

	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-info">Info</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-success">Success</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-warning">Warning</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="color-danger">Danger</div>
				        </div>
		       		</div>
		        </div>
		    </div>

			<!-- State -->
	   		<div class="col-4">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-small">State</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
   				<div class="row"><div class="body separator"></div></div>
					<div class="col-12">
			   			<div class="uicell float-left">
					        none
				        </div>
			        </div>
		        </div>
		    </div>

	    	<!-- Size -->
	   		<div class="col-4">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-small color-dark">Size</label>	
				        </div>
			        </div>
		        </div>
   				<div class="row"><div class="body separator"></div></div>
	   			<div class="row">
					<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-l color-dark">Heading Large</div>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-m color-dark">Heading Medium</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-heading-s color-dark">Heading Small</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-l color-dark">Large</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-m color-dark">Medium</div>
				        </div>
		       		</div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <div class="size-s color-dark">Small</div>
				        </div>
		       		</div>
		        </div>
		    </div>
	    </div>


		<div class="row">  
	    	<!-- Code -->	    	
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
<!-- 					<pre>
						<code>{% include input_code.css %}</code>
					</pre> -->
		        </div>
		    </div>
    	</div>
    </div>
</section>
