	<div class="uigroup">	
	    <div class="row ui header">
	   		<div class="col-12">
	   			<div class="float-left">
	   				<label class="label-title">NodeTag</label>
	   			</div>
		    </div>
		</div>
    	<!-- intent -->	    	
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Color</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag">normal</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag selected" >selected</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag empty" >empty</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag emptyselected" >empty selected</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag plain" >plain</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="NodeTag plainselected" >plain selected</div>
			        </div>
		        </div>
	        </div>
	    </div>

		<!-- size -->
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Size</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="NodeTag size-small">small</div>
						<div class="NodeTag size-small icon"><i class="fa fa-cog" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="NodeTag size-small fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="NodeTag size-normal">normal</div>
						<div class="NodeTag size-normal icon"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="NodeTag size-normal fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="NodeTag size-large">large</div>
						<div class="NodeTag size-large icon"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
		   				<div class="fill">
				        	<div class="NodeTag size-large fill">fill width:100%</div>
				    	</div>
			        </div>
		        </div>
	        </div>
	    </div>
		<!-- State -->
   		<div class="col-4 loat-left">
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
		       			<label class="label-heading-small">State</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag">normal</div>
				        <div class="NodeTag" onhover>hover</div>
				        <div class="NodeTag" onactive>pressed</div>
				        <div class="NodeTag" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag selected">normal</div>
				        <div class="NodeTag selected" onhover>hover</div>
				        <div class="NodeTag selected" onactive>pressed</div>
				        <div class="NodeTag selected" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag empty">normal</div>
				        <div class="NodeTag empty" onhover>hover</div>
				        <div class="NodeTag empty" onactive>pressed</div>
				        <div class="NodeTag empty" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag emptyselected">normal</div>
				        <div class="NodeTag emptyselected" onhover>hover</div>
				        <div class="NodeTag emptyselected" onactive>pressed</div>
				        <div class="NodeTag emptyselected" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag plain">normal</div>
				        <div class="NodeTag plain" onhover>hover</div>
				        <div class="NodeTag plain" onactive>pressed</div>
				        <div class="NodeTag plain" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="NodeTag plainselected">normal</div>
				        <div class="NodeTag plainselected" onhover>hover</div>
				        <div class="NodeTag plainselected" onactive>pressed</div>
				        <div class="NodeTag plainselected" disabled>disabled</div>
			        </div>
		        </div>
	        </div>
	    </div>
		<div class="row">  
	    	<!-- Code -->	    	
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
<!-- 					<pre>
						<code>{% include button_code.css %}</code>
					</pre> -->
		        </div>
		    </div>
    	</div>
	</div>
