<section id="button" class="container">		

	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12">
	   			<div class="uicell float-left">
	   				<label class="heading-huge">Buttons</label>
	   			</div>
		    </div>
		</div>


	    <div class="row">
	    	<!-- intent -->
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-large">Intent</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
			   				<StyledCommonButton> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary"> primary </StyledCommonButton>
			   				<StyledCommonButton intent="IntentDanger"> danger </StyledCommonButton>
			   				<StyledCommonButton intent="IntentLink"> link </StyledCommonButton>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
			   				<StyledCommonButton disabled> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" disabled> primary </StyledCommonButton>
			   				<StyledCommonButton intent="IntentDanger" disabled> danger </StyledCommonButton>
			   				<StyledCommonButton intent="IntentLink" disabled> link </StyledCommonButton>
				        </div>
			        </div>
		        </div>
        </div>

        <div class="row">
			<!-- size -->
	   		<div class="col-12 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-large">Size</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			   				<StyledCommonButton btnSize="SizeSmall"> small </StyledCommonButton>
			   				<StyledCommonButton btnSize="SizeNormal"> normal </StyledCommonButton>
			   				<StyledCommonButton btnSize="SizeLarge"> large </StyledCommonButton>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeSmall"> small </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeNormal"> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeLarge"> large </StyledCommonButton>
				        </div>
			        </div>
		        </div>
		    </div>
	    </div>


		<div class="row">	
			<!-- icon -->
	   		<div class="col-12 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="heading-large">Icon</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<button class="button icon-small"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small iconactived"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal iconactived"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button iconactived"><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>	        
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<button class="button icon-small plain"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small plain iconactived" actived><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain iconactived" actived><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button plain"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button plain" actived><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left bg-inverse">
							<button class="button icon-small plain-inverse"><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain-inverse"><i class="fa fa-cog fa-lg" title="Setting"></i></button>
							<button class="button icon-small plain-inverse iconactived" actived><i class="fa fa-cog fa-sm" title="Setting"></i></button>
							<button class="button icon-normal plain-inverse iconactived" actived><i class="fa fa-cog fa-lg" title="Setting"></i></button>
					        <button class="button plain-inverse"><i class="fa fa-user fa-lg""></i> User</button>
					        <button class="button plain-inverse" actived><i class="fa fa-user fa-lg""></i> User</button>
				        </div>
			        </div>
		        </div>
		    </div>
		</div>

	    <div class="row">
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
					<pre>
						<code class="css">
/* 按钮的基本样式*/
.button{    
    background: $grey-2;
    border: 1px solid $grey-4;
    border-radius: 4px;
    color: $grey-8;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 68px;
    padding: 0 $metric-3;
    margin: 0 $metric-1 0 0;
    display: inline-block;
}
						</code>
					</pre>
		        </div>
		    </div>
		</div>



	    <div class="row">
	    	<!-- group -->
	   		<div class="col-12 loat-left">
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			       			<label class="heading-large">Group</label>	
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">			      
			   					<StyledCommonButton group="GroupFirst" btnSize="IconNormal"><i class="fa fa-floppy-o fa-lg" title="Toggle dropdown menu"></i></StyledCommonButton>
			        			<StyledCommonButton group="GroupLast" btnSize="SizeDropNormal"><i class="fa fa-caret-down" title="Toggle dropdown menu"></i></StyledCommonButton> 
			   					<StyledCommonButton group="GroupFirst" btnSize="IconNormal" intent="IntentPrimary">save</StyledCommonButton>
			        			<StyledCommonButton group="GroupLast" btnSize="SizeDropNormal" intent="IntentPrimary"><span class="fa fa-caret-down" title="Toggle dropdown menu"></span></StyledCommonButton>

			   					<button class="button group-first">first</button>
			   					<button class="button group-middle">middle</button>
			   					<button class="button group-last">last</button>

			   					<button class="button intent-primary icon-normal group-first" title="已走下一步"><i class="fa fa-arrow-right"></i></button>
			   					<button class="button intent-primary icon-normal group-middle" title="根据推荐生成新的下一步"><i class="fa fa-arrow-circle-right fa-lg"></i></button>   
			   					<button class="button intent-primary icon-normal group-last droparrow" title="根据推荐生成新的下一步"><i class="fa fa-caret-down"></i></button>  

					        	<button class="button icon-normal group-first"><i class="fa fa-align-left" title="Align Left"></i></button>
						        <button class="button icon-normal group-middle"><i class="fa fa-align-center" title="Align Center"></i></button>
						        <button class="button icon-normal group-last"><i class="fa fa-align-right" title="Align Right"></i></button>
				        </div>
			        </div>
		        </div>

		    </div>
		</div>


    </div>
</section>
