	<div class="uigroup">	
	    <div class="row ui header">
	   		<div class="col-12">
	   			<div class="float-left">
	   				<label class="label-title">Button</label>
	   			</div>
		    </div>
		</div>
    	<!-- intent -->	    	
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Color</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton">normal</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-primary" >primary</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-danger" >danger</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-link" >link</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell">
				        <div class="QPushButton intent-plain" >plain</div>
			        </div>
		        </div>
	        </div>
	    </div>
		<!-- size -->
   		<div class="col-4 loat-left">
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <label class="label-heading-small">Size</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-small">small</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-normal">normal</div>
			        </div>
		        </div>
	        </div>
   			<div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
				        <div class="QPushButton size-large">large</div>
			        </div>
		        </div>
	        </div>
	    </div>
		<!-- State -->
   		<div class="col-4 loat-left">
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">
		       			<label class="label-heading-small">State</label>	
			        </div>
		        </div>
	        </div>
   			<div class="row"><div class="body separator"></div></div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton size-large ">large</div>
				        <div class="QPushButton">normal</div>
				        <div class="QPushButton size-small ">small</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-primary size-large">large</div>
				        <div class="QPushButton intent-primary" >normal</div>
				        <div class="QPushButton intent-primary  size-small" >small</div>
			        </div>
		        </div>
	        </div>
	        <div class="row">
   				<div class="col-12">
		   			<div class="uicell float-left">			      
				        <div class="QPushButton intent-danger size-large">large</div>
				        <div class="QPushButton intent-danger" >normal</div>
				        <div class="QPushButton intent-danger size-small" >small</div>
			        </div>
		        </div>
	        </div>
	    </div>


			</div>
