<section id="button" class="container">		

	<div class="uigroup">
	    <div class="row">
	   		<div class="col-12">
	   			<div class="uicell float-left">
	   				<label class="label-heading-huge">Buttons</label>
	   			</div>
		    </div>
		</div>


	    <div class="row">
	    	<!-- intent -->
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-large">Intent</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
			   				<StyledCommonButton> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary"> primary </StyledCommonButton>
			   				<StyledCommonButton intent="IntentDanger"> danger </StyledCommonButton>
			   				<StyledCommonButton intent="IntentLink"> link </StyledCommonButton>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell">
			   				<StyledCommonButton disabled> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" disabled> primary </StyledCommonButton>
			   				<StyledCommonButton intent="IntentDanger" disabled> danger </StyledCommonButton>
			   				<StyledCommonButton intent="IntentLink" disabled> link </StyledCommonButton>
				        </div>
			        </div>
		        </div>
        </div>

        <div class="row">
			<!-- size -->
	   		<div class="col-12 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-large">Size</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			   				<StyledCommonButton btnSize="SizeSmall"> small </StyledCommonButton>
			   				<StyledCommonButton btnSize="SizeNormal"> normal </StyledCommonButton>
			   				<StyledCommonButton btnSize="SizeLarge"> large </StyledCommonButton>
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeSmall"> small </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeNormal"> normal </StyledCommonButton>
			   				<StyledCommonButton intent="IntentPrimary" btnSize="SizeLarge"> large </StyledCommonButton>
				        </div>
			        </div>
		        </div>
		    </div>
	    </div>


		<div class="row">	
			<!-- icon -->
	   		<div class="col-12 loat-left">
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
					        <label class="label-heading-large">Icon</label>	
				        </div>
			        </div>
		        </div>
	   			<div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<div class="button icon-small"><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
							<div class="button icon-small iconactived"><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal iconactived"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
					        <div class="button"><i class="fa fa-user fa-lg""></i> User</div>
					        <div class="button iconactived"><i class="fa fa-user fa-lg""></i> User</div>
				        </div>
			        </div>	        
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
							<div class="button icon-small plain"><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal plain"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
							<div class="button icon-small plain iconactived" actived><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal plain iconactived" actived><i class="fa fa-cog fa-lg" title="Setting"></i></div>
					        <div class="button plain"><i class="fa fa-user fa-lg""></i> User</div>
					        <div class="button plain" actived><i class="fa fa-user fa-lg""></i> User</div>
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left bg-inverse">
							<div class="button icon-small plain-inverse"><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal plain-inverse"><i class="fa fa-cog fa-lg" title="Setting"></i></div>
							<div class="button icon-small plain-inverse iconactived" actived><i class="fa fa-cog fa-sm" title="Setting"></i></div>
							<div class="button icon-normal plain-inverse iconactived" actived><i class="fa fa-cog fa-lg" title="Setting"></i></div>
					        <div class="button plain-inverse"><i class="fa fa-user fa-lg""></i> User</div>
					        <div class="button plain-inverse" actived><i class="fa fa-user fa-lg""></i> User</div>
				        </div>
			        </div>
		        </div>
		    </div>
		</div>

	    <div class="row">
	   		<div class="col-12 loat-left">
	   			<div class="uicell">
					<pre>
						<code class="css">
/* 按钮的基本样式*/
.button{    
    background: $neutral-2;
    border: 1px solid $neutral-4;
    border-radius: 4px;
    color: $neutral-8;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 68px;
    padding: 0 $spacing-l;
    margin: 0 $spacing-s 0 0;
    display: inline-block;
}
						</code>
					</pre>
		        </div>
		    </div>
		</div>



	    <div class="row">
	    	<!-- group -->
	   		<div class="col-12 loat-left">
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">
			       			<label class="label-heading-large">Group</label>	
				        </div>
			        </div>
		        </div>
		        <div class="row">
	   				<div class="col-12">
			   			<div class="uicell float-left">			      
			   					<StyledCommonButton group="GroupFirst" btnSize="IconNormal"><i class="fa fa-floppy-o fa-lg" title="Toggle dropdown menu"></i></StyledCommonButton>
			        			<StyledCommonButton group="GroupLast" btnSize="SizeDropNormal"><i class="fa fa-caret-down" title="Toggle dropdown menu"></i></StyledCommonButton> 
			   					<StyledCommonButton group="GroupFirst" btnSize="IconNormal" intent="IntentPrimary">save</StyledCommonButton>
			        			<StyledCommonButton group="GroupLast" btnSize="SizeDropNormal" intent="IntentPrimary"><span class="fa fa-caret-down" title="Toggle dropdown menu"></span></StyledCommonButton>

			   					<div class="button group-first">first</div>
			   					<div class="button group-middle">middle</div>
			   					<div class="button group-last">last</div>

			   					<div class="button icon-small group-first" title="根据推荐生成新的下一步"><i class="fa fa-arrow-circle-right fa-lg"></i></div>   
			   					<div class="button icon-dropdown-small group-last" title="根据推荐生成新的下一步"><i class="fa fa-caret-down"></i></div>  

			   					<div class="button icon-normal group-first" title="根据推荐生成新的下一步"><i class="fa fa-arrow-circle-right fa-lg"></i></div>   
			   					<div class="button icon-dropdown-normal group-last" title="根据推荐生成新的下一步"><i class="fa fa-caret-down"></i></div>  

			   					<div class="button icon-large group-first" title="根据推荐生成新的下一步"><i class="fa fa-arrow-circle-right fa-lg"></i></div>   
			   					<div class="button icon-dropdown-large group-last" title="根据推荐生成新的下一步"><i class="fa fa-caret-down"></i></div>  

					        	<div class="button icon-normal group-first"><i class="fa fa-align-left" title="Align Left"></i></div>
						        <div class="button icon-normal group-middle"><i class="fa fa-align-center" title="Align Center"></i></div>
						        <div class="button icon-normal group-last"><i class="fa fa-align-right" title="Align Right"></i></div>
				        </div>
			        </div>
		        </div>

		    </div>
		</div>


    </div>
</section>
