<ul>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-cog fa-lg" title="Setting"></i></li>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-database fa-lg" title="Setting"></i>&nbsp;&nbsp;一二三四五六</li>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-telegram fa-lg" title="Setting"></i>&nbsp;&nbsp;一二三四五六七</li>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-sun-o fa-lg" title="Setting"></i>&nbsp;&nbsp;一二三四五六七八</li>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-moon-o fa-lg" title="Setting"></i>&nbsp;&nbsp;一二三四五六七八九</li>
	<li class="sidelist button icon-normal plain">&nbsp;<i class="fa fa-lemon-o fa-lg" title="Setting"></i>&nbsp;&nbsp;一二三四五六dddd七八九十</li>
</ul>d