	<div class="row">
	    <div>
   			<div>
				<div onclick="javascript:document.getElementById('theme').href='css/main.css'" class="QPushButton size-normal icon plain-inverse">普</div>	   		
				<div onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="QPushButton size-normal icon plain-inverse">蓝</div>
				<div onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="QPushButton size-normal icon plain-inverse">橙</div>
				<div onclick="javascript:document.getElementById('theme').href='css/main-large.css'" class="QPushButton size-normal icon plain-inverse">大</div>
		        
		        <div class="space-w-2"></div>
	        </div>
    	</div>
	</div>
