<section class="container">
	<div class="row">
		<div class="col-9"> 
			<button class="tab selected" onclick="{location.href='index.html'}"><i class="fa fa-home fa-sm" actived title=""></i></button>
			<button class="tab" onclick="{location.href='button.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Button <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='form.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Form <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='components.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Components <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="button icon-normal plain-inverse" ><i class="fa fa-plus fa-lg" title=""></i></button>
	  	</div>
    	<div class="col-3"> 	
   			<div class="float-right">

				<button onclick="javascript:document.getElementById('theme').href='css/main.css'" class="button icon-small plain-inverse" ><i class="fa fa-sun-o" title=""></i></button>	   		
				<button onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="button icon-small plain-inverse" ><i class="fa fa-moon-o" title=""></i></button>
				<button onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="button icon-small plain-inverse" ><i class="fa fa-lemon-o" title=""></i></button>

<!-- 					<button class="button icon-small plain-inverse" ><i class="fa fa-refresh" title=""></i></button>
				<button class="button icon-small plain-inverse" ><i class="fa fa-clipboard" title=""></i></button> -->
				<button class="button plain-inverse" ><i class="fa fa-user" title=""></i>&nbsp;Username</button>

		        <div class="space-w-4"></div>

				<button class="button icon-small plain-inverse"><i class="fa fa-window-minimize" title="Minimize"></i></button>
				<button class="button icon-small plain-inverse"><i class="fa fa-window-restore" title="Restore"></i></button>
				<button class="button icon-small plain-inverse"><i class="fa fa-times" title="Close"></i></button>
	        </div>
    	</div>
  	</div> 
</section>
