<section class="container">
	<div class="row">
		<div class="col-12"> 
			<button class="tab"><i class="fa fa-home fa-sm" actived title=""></i> Homepage <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab selected"><i class="fa fa-telegram fa-sm" actived title=""></i> SelectedTab <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab"><i class="fa fa-bar-chart fa-sm" actived title=""></i> tabname tabname tab... <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='index.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Layout <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='Components.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Components <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab"><i class="fa fa-plus" title=""></i></button>
			<button class="button icon-normal plain-inverse" ><i class="fa fa-folder-o fa-lg" title=""></i></button>
	  	</div>
  	</div> 
</section>
