<section class="container">
	<div class="row">
		<div class="col-6"> 
			<button class="tab selected" onclick="{location.href='index.html'}"><i class="fa fa-home fa-sm" actived title=""></i></button>
			<button class="tab" onclick="{location.href='button.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Button <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='input.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Input <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="tab" onclick="{location.href='label.html'}"><i class="fa fa-file-text fa-sm" actived title=""></i> Label <i class="fa fa-times fa-sm tab-close"></i></button>
			<button class="QPushButton icon-normal plain-inverse" ><i class="fa fa-plus fa-lg" title=""></i></button>
	  	</div>
    	<div class="col-6"> 	large
   			<div class="float-right">
				<div onclick="javascript:document.getElementById('theme').href='css/main.css'" class="QPushButton size-normal icon plain-inverse" >㈠</div>	   		
				<div onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="QPushButton size-normal icon plain-inverse" >㈡</div>
				<div onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="QPushButton size-normal icon plain-inverse" >㈢</div>
				<!-- <div onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="QPushButton size-normal icon plain-inverse" >㈣</div> -->

		        <div class="space-w-4"></div>

				<!-- <div class="QPushButton size-normal icon plain-inverse" actived><i class="fa fa-database" title="GlobalData"></i>&nbsp;132</div> -->
				<div class="QPushButton size-normal icon plain-inverse" ><i class="fa fa-user" title=""></i>&nbsp;Username</div>

		        <div class="space-w-4"></div>

				<div class="QPushButton size-normal icon plain-inverse"><i class="fa fa-window-minimize" title="Minimize"></i></div>
				<div class="QPushButton size-normal icon plain-inverse"><i class="fa fa-window-restore" title="Restore"></i></div>
				<div class="QPushButton size-normal icon plain-inverse"><i class="fa fa-times" title="Close"></i></div>
	        </div>
    	</div>
  	</div> 
</section>
