<section class="container">
	<div class="uicell">
	    <div class="row">
	    	<div>
	   			<div class="float-left">
			        <label class="plain-inverse heading-medium-inverse">&nbsp;GS Guideline&nbsp;</label>
		        </div>
	    	</div>
	    	<div>
	   			<div class="float-left">
			        <div class="space-w-4"></div>
					<button class="button icon-small plain-inverse" ><i class="fa fa-circle fa-sm plain-inverse" actived title=""></i>&nbsp;ActiveTag</button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-circle fa-sm plain-inverse" actived title=""></i>&nbsp;FuctionRun</button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-circle fa-sm plain-inverse" actived title=""></i>&nbsp;System</button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-circle fa-sm plain-inverse" actived title=""></i>&nbsp;Tasks</button>
		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">

					<button onclick="javascript:document.getElementById('theme').href='css/main.css'" class="button icon-small plain-inverse" ><i class="fa fa-sun-o" title=""></i></button>	   			
					<button onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="button icon-small plain-inverse" ><i class="fa fa-moon-o" title=""></i></button>

<!-- 					<button class="button icon-small plain-inverse" ><i class="fa fa-refresh" title=""></i></button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-clipboard" title=""></i></button> -->
					<button class="button icon-small plain-inverse" actived><i class="fa fa-database" title="GlobalData"></i>&nbsp;132</button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-user" title=""></i>&nbsp;Username</button>

			        <div class="space-w-4"></div>

					<button class="button icon-small plain-inverse"><i class="fa fa-window-minimize" title="Minimize"></i></button>
					<button class="button icon-small plain-inverse"><i class="fa fa-window-restore" title="Restore"></i></button>
					<button class="button icon-small plain-inverse"><i class="fa fa-times" title="Close"></i></button>
		        </div>
	    	</div>
 	    </div>
    </div>
</section>
