<section class="container">
	<div class="uicell">
	    <div class="row">
	    	<div>
	   			<div class="float-left">
			        <div class="QPushButton  size-small plain-inverse"><i class="fa fa-usd fa-lg" title="gft"  style="-webkit-transform:rotate(90deg)"></i></div>
		        </div>
	    	</div>
	    	<div>
	   			<div class="float-left">
					<div class="QPushButton  size-small plain-inverse">ActiveTag</div>
					<div class="QPushButton  size-small plain-inverse">WithMenu&nbsp;<i class="fa fa-angle-down fa-lg"></i></div>
					<div class="QPushButton  size-small plain-inverse">This ActiveTag's Name is too lon...&nbsp;<i class="fa fa-angle-down fa-lg"></i></div>
					<div class="QPushButton  size-small plain-inverse">System</div>
					<div class="QPushButton  size-small plain-inverse">This ActiveTag's Name is too lon...</div>
					<div class="QPushButton  size-small plain-inverse">FuctionRun</div>
		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">

					<button onclick="javascript:document.getElementById('theme').href='css/main.css'" class="button icon-small plain-inverse" ><i class="fa fa-sun-o" title=""></i></div>	   		
					<button onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="button icon-small plain-inverse" ><i class="fa fa-moon-o" title=""></i></div>
					<button onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="button icon-small plain-inverse" ><i class="fa fa-lemon-o" title=""></i></div>

<!-- 					<div class="QPushButton  icon-small plain-inverse" ><i class="fa fa-refresh" title=""></i></div>
					<div class="QPushButton  icon-small plain-inverse" ><i class="fa fa-clipboard" title=""></i></div> -->
					<!-- <div class="QPushButton  icon-small plain-inverse" actived><i class="fa fa-database" title="GlobalData"></i>&nbsp;132</div> -->
					<div class="QPushButton  icon-small plain-inverse" ><i class="fa fa-user" title=""></i>&nbsp;Username</div>

			        <div class="space-w-4"></div>

					<div class="QPushButton  icon-small plain-inverse"><i class="fa fa-window-minimize" title="Minimize"></i></div>
					<div class="QPushButton  icon-small plain-inverse"><i class="fa fa-window-restore" title="Restore"></i></div>
					<div class="QPushButton  icon-small plain-inverse"><i class="fa fa-times" title="Close"></i></div>
		        </div>
	    	</div>
 	    </div>
    </div>
</section>
