<section class="container">
	<div class="uicell">
	    <div class="row">
	    	<div>
	   			<div class="float-left">
			        <button class="button size-small plain-inverse"><i class="fa fa-usd fa-lg" title="gft"  style="-webkit-transform:rotate(90deg)"></i></button>
		        </div>
	    	</div>
	    	<div>
	   			<div class="float-left">
					<button class="button size-small plain-inverse">ActiveTag</button>
					<button class="button size-small plain-inverse">WithMenu&nbsp;<i class="fa fa-angle-down fa-lg"></i></button>
					<button class="button size-small plain-inverse">This ActiveTag's Name is too lon...&nbsp;<i class="fa fa-angle-down fa-lg"></i></button>
					<button class="button size-small plain-inverse">System</button>
					<button class="button size-small plain-inverse">This ActiveTag's Name is too lon...</button>
					<button class="button size-small plain-inverse">FuctionRun</button>
		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">

					<button onclick="javascript:document.getElementById('theme').href='css/main.css'" class="button icon-small plain-inverse" ><i class="fa fa-sun-o" title=""></i></button>	   		
					<button onclick="javascript:document.getElementById('theme').href='css/main-dark.css'" class="button icon-small plain-inverse" ><i class="fa fa-moon-o" title=""></i></button>
					<button onclick="javascript:document.getElementById('theme').href='css/main-orange.css'" class="button icon-small plain-inverse" ><i class="fa fa-lemon-o" title=""></i></button>

<!-- 					<button class="button icon-small plain-inverse" ><i class="fa fa-refresh" title=""></i></button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-clipboard" title=""></i></button> -->
					<button class="button icon-small plain-inverse" actived><i class="fa fa-database" title="GlobalData"></i>&nbsp;132</button>
					<button class="button icon-small plain-inverse" ><i class="fa fa-user" title=""></i>&nbsp;Username</button>

			        <div class="space-w-4"></div>

					<button class="button icon-small plain-inverse"><i class="fa fa-window-minimize" title="Minimize"></i></button>
					<button class="button icon-small plain-inverse"><i class="fa fa-window-restore" title="Restore"></i></button>
					<button class="button icon-small plain-inverse"><i class="fa fa-times" title="Close"></i></button>
		        </div>
	    	</div>
 	    </div>
    </div>
</section>
