	    <div class="row">
	    	<div>
	   			<div class="float-left">				
 					<div class="QPushButton size-normal icon"><i class="fa fa-home"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-columns"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-code-fork"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-list"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-plus" title="Add Scene"></i></div>

		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">			
					<div class="QPushButton size-normal icon"><i class="fa fa-plus" title="Add Scene"></i></div>
	   				<div class="QPushButton size-normal icon"><i class="fa fa-download" title="FR Running"></i></div>
	   				<div class="QPushButton size-normal icon"><i class="fa fa-search" title="Data Search"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-commenting-o"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-pencil-square-o"></i></div>
 		        </div>
	    	</div>
 	    </div>
