<section class="container">
	<div class="uicell">
	    <div class="row">
	    	<div>
	   			<div class="float-left">
					<button class="button icon-small"><i class="fa fa-plus" title="Add Scene"></i></button>
					<div class="space-w-4"></div>
					<button class="button icon-small"><i class="fa fa-home"></i></button>
			        <div class="space-w-1"></div>
					<button class="button icon-small group-first"><i class="fa fa-columns"></i></button>
					<button class="button icon-small group-middle"><i class="fa fa-code-fork"></i></button>
					<button class="button icon-small group-last"><i class="fa fa-list"></i></button>

		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">					
	   				<button class="button icon-small"><i class="fa fa-download" title="FR Running"></i></button>
			        <div class="space-w-1"></div>
	   				<button class="button icon-small"><i class="fa fa-search" title="Data Search"></i></button>
			        <div class="space-w-1"></div>
					<button class="button icon-small group-first"><i class="fa fa-commenting-o"></i></button>
					<button class="button icon-small group-last"><i class="fa fa-pencil-square-o"></i></button>
			        <div class="space-w-4"></div>
					<button class="button icon-small"><i class="fa fa-plus" title="Add Scene"></i></button>
		        </div>
	    	</div>
 	    </div>
    </div>
</section>
