	    <div class="row">
	    	<div>
	   			<div class="float-left">				
					<div class="QPushButton size-normal icon"><i class="fa fa-plus"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-trash"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-pencil"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-search"></i></div>

		        </div>
	    	</div>
	    	<div> 	
	   			<div class="float-right">			
					<div class="QPushButton size-normal icon"><i class="fa fa-cog"></i></div>
					<div class="QPushButton size-normal icon"><i class="fa fa-bars"></i></div>
 		        </div>
	    	</div>
 	    </div>
