.float-left{
	float: left;
}
.float-right{
	float: right;
}
.border-bottom{
	border-bottom: 1px solid $neutral-4 
}
.border-top{
	border-top: 1px solid $neutral-4
}

.ui{
	padding: $spacing-m;
    border: none;
}
.ui.header{
	background-color:$neutral-3;
	border-bottom:$border-width-thin solid $neutral-6;
}
.ui.topbar{
	background-color:$neutral-2;
	border-bottom:$border-width-thin solid $neutral-5;
}
.ui.body{
	background-color:$neutral-1;
}
.ui.bottombar{
	background-color:$neutral-2;
	border-top:$border-width-thin solid $neutral-5;
}
.ui.footer{
	background-color:$neutral-3;
	border-top:$border-width-thin solid $neutral-6;
}


.header.separator,
.footer.separator,
{
	margin: 0 $spacing-m;
	background-color:$neutral-5;
	min-height:$border-width-thin;
	max-height:$border-width-thin;
	color:$neutral-7;
}
.topbar.separator,
.bottombar.separator{
	margin: 0 $spacing-m;
	background-color:$neutral-4;
	min-height:$border-width-thin;
	max-height:$border-width-thin;
	color:$neutral-6;
}
.body.separator{
	margin: 0 $spacing-m;
	background-color:$neutral-3;
	min-height:$border-width-thin;
	max-height:$border-width-thin;
	color:$neutral-5;
}



.space-w-1,
.space-w-2,
.space-w-3,
.space-h-1,
.space-h-2,
.space-h-3,
{display: inline-block;}

.space-w-1{	min-width: $spacing-s}
.space-w-2{	min-width: $spacing-m}
.space-w-3{	min-width: $spacing-l}

.space-h-1{	min-height: $spacing-s}
.space-h-2{	min-height: $spacing-m}
.space-h-3{	min-height: $spacing-l}

