html,
body {
	font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    color: $grey-10;
    font-size: 12px;
}
pre{
	margin: 0;
	padding: 0 $metric-3;
	border-radius: 4px;
	background: $grey-1;
	border: 1px solid $grey-5;
	height: 120px; 
	overflow: auto; 
}
.attribute-name{
	margin: 0;
	padding: 0 $metric-1;
	margin: 0 $metric-1;
	border-radius: 2px;
	background: $grey-1;
	border: 1px solid $grey-5;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	display: list-item;
}
li.sidelist{
	height: 28px;
	min-width: 120px;
	overflow: hidden;
	text-align: left;
}
