html,
body {
	font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    color: $grey-10;
    font-size: 12px;
}

#titlebar{
    display: block;
  	position: relative;
	background: $grey-9;
	width: 100%;
	height: 32px;
}

#tabbar{
    display: block;
  	position: relative;
	background: $grey-9;
	width: 100%;
	height: 24px;
	// border-bottom: 1px solid $grey-7;
}

#toolbar{
    display: block;
  	position: relative;
	background: $grey-3;
	width: 100%;
	height: 28px;
	border-bottom: 1px solid $grey-7;
}

#workspace{
    display: block;
  	position: relative;
	background: $grey-2;
	// width: 100%;
	// height: 100%;
    /*height: 700px;*/
}

#statusbar{
    display: block;
  	position: fixed;
  	bottom: 0;
	background: $grey-8;
	width: 100%;
	height: 20px;
}

.container{
	display: block;
	content: " ";
	// padding-right: $metric-4;
	// padding-left: $metric-4;	
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.uicell{
/*	height: 100%;
	width: 100%;*/
	padding: $metric-1 $metric-1;
	// border: 1px dotted $grey-4;
	// margin: -1px;
}
.uigroup{
/*	height: 100%;
	width: 100%;*/
	padding: $metric-4 $metric-4;
	// border: 1px solid $grey-6;
	// margin: -1px;
}
.uiapp{
/*	height: 100%;
	width: 100%;*/
	padding: 0;
	margin: -1px;
	border: 1px solid $grey-6;
}

.row { 
	display: table;
	// margin-right: $metric-4 * -1;
	// margin-left: $metric-4 * -1;
	width: 100%;
	height: 100%;
	min-height: 1px;
	clear: both;
}
.row:before,.row:after,.container:before,.container:after{
	display: table;
	clear: both;
	content: " ";

}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	float: left;
	// border: 1px solid $grey-5;
	// margin: -1px;
	// padding-top: $metric-2;
	// padding-bottom: $metric-2;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}