html,
body {
	font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    color: $neutral-9;
	font-size: $font-size-m;
	background: $neutral-1;
}
pre,textarea{
	margin: 0;
	padding: 0 $spacing-l;
	border-radius: 4px;
	background: $neutral-1;
	border: 1px solid $neutral-5;
	height: 160px; 
	overflow: auto;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; 
    text-align: left;        

}
// pre:hover,textarea:hover{
// 	height: 300px; 
// 	-webkit-transition: all 0.2s;
//     -moz-transition: all 0.2s;
//     transition: all 0.2s;   

// }
.attribute-name{
	margin: 0;
	padding: 0 $spacing-s;
	margin: 0 $spacing-s;
	border-radius: 2px;
	background: $neutral-1;
	border: 1px solid $neutral-5;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	display: list-item;
}
li.sidelist{
	height: 28px;
	min-width: 120px;
	overflow: hidden;
	text-align: left;
}

.progress-bar {
	width:100%;
	height: 2px;
	position: relative;
	background-image: linear-gradient(to right, $primary-2, $primary-6);
		-webkit-animation: cssload-width 1.45s cubic-bezier(0.85,0.85,0.85,0.85) infinite;
}

@keyframes cssload-width {
	0%, 100% {
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-o-keyframes cssload-width {
	0%, 100% {
		-o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-ms-keyframes cssload-width {
	0%, 100% {
		-ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-webkit-keyframes cssload-width {
	0%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.85,0.85,0.85,0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-moz-keyframes cssload-width {
	0%, 100% {
		-moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
