/* 按钮的基本样式*/
.QPushButton{    
    display: inline-block;

    min-width: $font-size-m * 3;
    padding: $spacing-xs $spacing-m;
    margin: 0;
    font-size: $font-size-m;
    line-height: $line-height-m;

    color: $neutral-8;
    text-align: center;
    background-color: $neutral-1;
    background-image: $background-gradient-light-normal;
    border: $border-width-thin solid $neutral-5;

    border-radius: $border-radius-m;
}

/* 普通按钮的各个状态*/
.QPushButton:hover, .QPushButton[onhover] {
    background-color: $white;
}

.QPushButton:active, .QPushButton[onactive] {
    background-color: $neutral-2;
    background-image: none;
}
.QPushButton[disabled]{    
    color: $neutral-7;
    background-color: $neutral-4;
    background-image: none;
    border-color: $neutral-4;  // disable 状态下，border 与 background 采样相同颜色（以确保宽高一致、但看上去是无边框效果
    opacity: 0.8;

}


/* intent-primary 显著按钮的状态样式 */
.intent-primary {
    background-color: $primary-6;
    background-image: $background-gradient-light-gentle;
    border-color: $primary-8;
    color: $neutral-1;
}
.intent-primary:hover, .intent-primary[onhover]{
    background-color: $primary-5;
    border-color: $primary-7;
    color: $neutral-1;
}
.intent-primary:active, .intent-primary[onactive] {
    background-color: $primary-7;
    border-color: $primary-9;
    color: $neutral-1;
}
.intent-primary[disabled]{
    background-color: $primary-3;
    border-color: $primary-3;
    color: $primary-1;
    opacity: 0.8;
}

/* intent-danger 危险按钮的状态样式 */
.intent-danger {
    background-color: $danger-6;
    background-image: $background-gradient-light-gentle;
    border-color: $danger-8;
    color: $neutral-1;
}
.intent-danger:hover, .intent-danger[onhover] {
    background-color: $danger-5;
    border-color: $danger-7;
    color: $neutral-1;
}
.intent-danger:active, .intent-danger[onactive] {
    background-color: $danger-7;
    border-color: $danger-9;
    color: $neutral-1;
}
.intent-danger[disabled] {
    background-color: $danger-3;
    border-color: $danger-3;
    color: $danger-1;
    opacity: 0.8;
}

/* intent-link 无框按钮的状态样式 */
.intent-link {
    color: $primary-6;
    background: transparent;
    border-color: transparent;
}
.intent-link:hover, .intent-link[onhover] {
    color: $primary-5;
    text-decoration: underline;
    background: transparent;
    border-color: transparent;
}
.intent-link:active, .intent-link[onactive] {
    color: $primary-7;
    text-decoration: underline;
    background: transparent;
    border-color: transparent;
}
.intent-link[disabled]{
    color: $primary-4;
    background: transparent;
    border-color: transparent;
    opacity: 0.8;
}

.intent-plain{
    color: $neutral-8;
    background: transparent;
    border-color: transparent;
}
.intent-plain:hover, .intent-plain[onhover]{
    background-color: $background-color-mask-hover;
    border-color: transparent;
}
.intent-plain:active, .intent-plain[onactive]{
    background-color: $background-color-mask-pressed;
    border-color: transparent;
}

.intent-plain[disabled]{
    color: $neutral-6;
    background-color: transparent;
    border-color: transparent;
    opacity: 0.8;
}

.plain:hover,.plain[actived]:hover{
    background-color: $background-color-mask-hover;
}
.plain:active,.plain[actived]:active{
    background-color: $background-color-mask-pressed;
}

.plain-inverse,{
    color: $primary-1;
    background: transparent;
    border-color: transparent;
}
.plain-inverse[actived]{
    background: transparent;
    color: $primary-5;
}

.plain-inverse:hover,.plain-inverse[actived]:hover{
    background-color: $background-color-mask-inverse-hover;
}
.plain-inverse:active,.plain-inverse[actived]:active{
    background-color: $background-color-mask-inverse-pressed;
}



/* 不同的按钮尺寸 */
.size-small{
    // height: $line-height-s;
    min-width: $font-size-s * 3;
    padding: 0 $spacing-s;
    font-size: $font-size-s;
    line-height: $line-height-s;
}
.size-small.icon{
    min-width: $line-height-s;
    padding-left: 0; 
    padding-right: 0;   
}
.size-small.dropdown{
    min-width: $line-height-s / 2;
}

.size-normal{
    // height: $line-height-m;
    min-width: $font-size-m * 3;
    padding: $spacing-xs $spacing-m;
    margin: 0;
    font-size: $font-size-m;
    line-height: $line-height-m;
}
.size-normal.icon{
    min-width: $line-height-m;
    padding-left: $spacing-xs; 
    padding-right: $spacing-xs;   
}
.size-normal.dropdown{
    min-width: $line-height-m / 2;
}

.size-large{
    // height: $line-height-l;
    min-width: $font-size-l * 3;
    padding: $spacing-s $spacing-l;
    margin: 0;
    font-size: $font-size-l;
    line-height: $line-height-l;
}
.size-large.icon{
    min-width: $line-height-l;
    padding-left: $spacing-s; 
    padding-right: $spacing-s;   
}
.size-large.dropdown{
    min-width: $line-height-l / 2;
}

.fill{
    min-width: 100%; // 宽度为 100%（由其父容器控制）  
    box-sizing: border-box;
}

/* group 由多个按钮组成 */
.group-first{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.group-middle{
    border-radius: 0;
    margin-left: -5px;
}
.group-last{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -5px;
}

.plain,{
    background: transparent;
    border: 0;
    color: $neutral-8;
}
.plain[actived],{
    background: transparent;
    color: $primary-6;
}


