/* 按钮的基本样式*/
.button{    
    background: $grey-2;
    border: 1px solid $grey-4;
    border-radius: 4px;
    color: $primary-6;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 68px;
    padding: 0 $metric-3;
    margin: 0 4px;
    display: inline-block;
}

/* 普通按钮样式的各状态*/
.button:hover {
    background: $grey-1;
}

.button:active {
    background: $grey-3;
}
.button:disabled {
    background: $grey-4;
    border: 0;  
    color: $grey-6;

}

/* intent-primary 显著按钮的状态样式 */
.intent-primary {
    background: $primary-6;
    border: 1px solid $primary-6;
    color: $grey-1;
}
.intent-primary:hover {
    background: $primary-5;
    border: 1px solid $primary-5;
    color: $grey-1;
}
.intent-primary:active {
    background: $primary-7;
    border: 1px solid $primary-7;
    color: $grey-1;
}
.intent-primary:disabled {
    background: $primary-3;
    border: 1px solid $primary-3;
    border: 0;
    color: $grey-1;
}

/* intent-danger 危险按钮的状态样式 */
.intent-danger {
    background: rgba(230,49,58,1);
    color:#FFFFFF;
    border: 1px solid #8E2D31;
}
.intent-danger:hover {
    background: rgba(204,40,49,1);
    color:#FFFFFF;
    border: 1px solid #8E2D31;
}
.intent-danger:active {
    background: rgba(177,36,43,1);
    color:#FFFFFF;
    border: 1px solid #691F22;
}
.intent-danger:disabled {
    color: #FFFFFF;
    background-color: rgba(219,55,55,0.5);
    border: 0; 
}


/* 不同的按钮尺寸 */
.size-small{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    min-width: 52px;
    padding: 0 $metric-1;
}
.size-large{
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    min-width: 80px;
    padding: 0 $metric-3;
}


/* group 由多个按钮组成 */
.group-first{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -5px;
}
.group-middle{
    border-radius: 0;
    margin-left: 0px;
    margin-right: -4px;
}
.group-last{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}
/* Icon按钮类型 */
.icon-small{
    min-width: 20px;
    line-height: 20px;
    height: 20px;
    padding: 0 $metric-0;
}
.icon-normal{
    min-width: 28px;
    line-height: 28px;
    height: 28px;
    padding: 0 $metric-0;
}
.icon-large{
    min-width: 36px;
    line-height: 36px;
    height: 36px;
    padding: 0 $metric-0;
}