/* 按钮的基本样式*/
.button{    
    background: $grey-2;
    border: 1px solid $grey-4;
    border-radius: 4px;
    color: $grey-8;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    min-width: 68px;
    padding: 0 $metric-3;
    margin: 0 $metric-1 0 0;
    display: inline-block;
}

/* 普通按钮样式的各状态*/
.button:hover {
    background: $grey-1;
}

.button:active {
    background: $grey-3;
}
.button:disabled {
    background: $grey-4;
    border: 0;  
    color: $grey-6;
    opacity: 0.8;

}

/* intent-primary 显著按钮的状态样式 */
.intent-primary {
    background: $primary-6;
    border: 1px solid $primary-7;
    color: $grey-1;
}
.intent-primary:hover {
    background: $primary-5;
    border: 1px solid $primary-5;
    color: $grey-1;
}
.intent-primary:active {
    background: $primary-7;
    border: 1px solid $primary-7;
    color: $grey-1;
}
.intent-primary:disabled {
    background: $primary-3;
    border: 1px solid $primary-3;
    border: 0;
    color: $primary-1;
    opacity: 0.8;
}

/* intent-danger 危险按钮的状态样式 */
.intent-danger {
    background: $danger-6;
    border: 1px solid $danger-6;
    color: $grey-1;
}
.intent-danger:hover {
    background: $danger-5;
    border: 1px solid $danger-5;
    color: $grey-1;
}
.intent-danger:active {
    background: $danger-7;
    border: 1px solid $danger-7;
    color: $grey-1;
}
.intent-danger:disabled {
    background: $danger-3;
    border: 1px solid $danger-3;
    border: 0;
    color: $danger-1;
    opacity: 0.8;
}

/* intent-link 无框按钮的状态样式 */
.intent-link {
    background: transparent;
    border: 0;
    color: $primary-6;
}
.intent-link:hover {
    background: transparent;
    border: 0;
    color: $primary-5;
    text-decoration: underline;
}
.intent-link:active {
    background: transparent;
    border: 0;
    color: $primary-7;
    text-decoration: underline;
}
.intent-link:disabled {
    background: transparent;
    border: 0;
    color: $grey-6;
}


/* 不同的按钮尺寸 */
.size-small{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    min-width: 52px;
    padding: 0 $metric-2;
}
.size-large{
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    min-width: 80px;
    padding: 0 $metric-3;
}


/* Icon按钮类型 */
.icon-small{
    min-width: 20px;
    line-height: 20px;
    height: 20px;
    padding: 0 $metric-1;
    margin: 0 $metric-0 0 0;
}
.icon-normal{
    min-width: 28px;
    line-height: 28px;
    height: 28px;
    padding: 0 $metric-1;
    margin: 0 $metric-0 0 0;
}
.icon-large{
    min-width: 36px;
    line-height: 36px;
    height: 36px;
    padding: 0 $metric-1;
    margin: 0 $metric-0 0 0;
}

/* group 由多个按钮组成 */
.group-first{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -5px;
}
.group-middle{
    border-radius: 0;
    margin-left: 0px;
    margin-right: -4px;
}
.group-last{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.plain,{
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: $grey-8;
}
.plain[actived],{
    background: transparent;
    border: 0;
    color: $primary-6;
}


.plain:active,.plain[actived]:active{
    background: $grey-8-alpha-4;
    border: 0;
}
.plain:hover,.plain[actived]:hover{
    background: $grey-8-alpha-2;
    border: 0;
}

.plain-inverse,{
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: $primary-1;
}
.plain-inverse[actived]{
    background: transparent;
    border: 0;
    color: $primary-5;
}

.plain-inverse:active,.plain-inverse[actived]:active{
    background: $grey-3-alpha-4;
    border: 0;
}
.plain-inverse:hover,.plain-inverse[actived]:hover{
    background: $grey-3-alpha-2;
    border: 0;
}


