.heading-large{
	font-size: 24px;
	color: $grey-10;
}

.heading-medium{
	font-size: 18px;
	color: $grey-10;
}
.heading-medium-inverse{
	font-size: 18px;
	color: $grey-1;
}

.heading-small{
	font-size: 14px;
	color: $grey-10;
}
.heading-small-inverse{
	font-size: 14px;
	color: $grey-1;
}

.body-default{
	font-size: 12px;
	color: $grey-10;
}
.body-faint{
	font-size: 12px;
	color: $grey-7;
}
.input-name{
	font-size: 13px;
	color: $grey-10;
}