/* 输入框基本样式*/
.QLineEdit{       
    display: inline-block;

    height: $line-height-m;
    min-width: $font-size * 9; // 9个文字的宽度
    padding: $spacing-0 $spacing-m;
    margin:0;

    font-size: $font-size-m;
    color: $neutral-10;
    text-align: left;

    background-color: $white;
    border: $border-width-thin solid $neutral-5;
    border-radius: $border-radius-s;
}


.QLineEdit.size-fill{
    width: 100%;
}

.QLineEdit.error{
    border-color: $danger-6;
}
.QLineEdit:hover{
    border-color: $primary-5;
}

.QLineEdit:active{
    border-color: $primary-6;
}

.QLineEdit.onfocus{
    border-color: $primary-6;
}
.QLineEdit.placeholder{
    color: $neutral-6;
}

.QLineEdit:disabled{ 
    background-color: $neutral-3;
    color: $neutral-6;
}


.QLineEdit.nodeinput{
    border-radius: $border-radius-max;
}
input::-webkit-input-placeholder { color: $neutral-6; }
input::-moz-placeholder { color: $neutral-6; }
input:-ms-input-placeholder { color: $neutral-6; }
input:-moz-placeholder { color: $neutral-6; }