/* 输入框基本样式*/

.QLineEdit{       
    display: inline-block;    
    text-align: left;

    // size
    min-width: $font-size * 9; 
    padding: $spacing-xs $spacing-m;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $neutral-10;
   
    // color
    background-color: $white;
    border: $border-width-thin solid $neutral-5;
    border-radius: $border-radius-m;
}


.QLineEdit.size-fill{
    width: 100%;
    box-sizing: border-box;
}

.QLineEdit.error{
    border-color: $danger-6;
}
.QLineEdit:hover{
    border-color: $primary-5;
}

.QLineEdit:active{
    border-color: $primary-6;
}

.QLineEdit.onfocus{
    border-color: $primary-6;
}
.QLineEdit.placeholder{
    color: $neutral-6;
}

.QLineEdit:disabled{ 
    cursor: not-allowed;
    background-color: $neutral-3;
    border-color: $neutral-5;
    color: $neutral-6;
}


.QLineEdit.nodeinput{
    border-radius: $border-radius-max;
}
input::-webkit-input-placeholder { color: $neutral-6; }
input::-moz-placeholder { color: $neutral-6; }
input:-ms-input-placeholder { color: $neutral-6; }
input:-moz-placeholder { color: $neutral-6; }