// #titlebar{
//     display: block;
//   	position: relative;
// 	background: $neutral-9;
// 	width: 100%;
// 	height: 32px;
// }

#titlebar{
	overflow: hidden;
    display: block;
  	position: relative;
	background: $neutral-9;
	padding: $spacing-m;
}

#tabbar{
	overflow: hidden;
    display: block;
  	position: relative;
	background: $neutral-9;
	width: 100%;
}

#toolbar{
    display: block;
  	position: relative;
	background: $neutral-2;
	/*width: 100%;*/
	padding: $spacing-m;
	border-bottom: 2px solid $neutral-7;
}
#workspace{
    display: block;
  	position: relative;
	margin-bottom: $spacing-m * 2 + $line-height-m + $spacing-m;
}

#main{
    display: block;
  	position: relative;
    left: 0px;
    right: 0px;
  	// position: relative;
	background: $neutral-1;
  	height: 100%;
	// width: 100%;
	// height: 100%;
}

#statusbar{
	z-index:30;
    display: block;
  	position: fixed;
  	bottom: 0;
	background: $neutral-7;
	padding: $spacing-m;
	width: 100%;
	border-top: 2px solid $neutral-7;
}

#sidebar-left{
	z-index:20;
  	position: absolute;
    display: block;
    left:0;
  	width: 28px;
  	height: 100%;
	background: $neutral-3;
	border-right: 1px solid $neutral-7;
	align: center;
	overflow: hidden;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; 
}

#sidebar-right{
	z-index:20;
  	position: absolute;
    display: block;
    right: 0;
  	width: 28px;
  	height: 100%;
	background: $neutral-3;
	border-left: 1px solid $neutral-7;
	align: center;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; 
}

#sidebar-left:hover,#sidebar-right:hover{
  	width: 128px;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s; 
}
#sidebar-left:active,#sidebar-right:active{
  	width: 28px;

}
.uicell{
	padding: $spacing-m;
}

.uiapp{
/*	height: 100%;
	width: 100%;*/
	padding: 0;
	border-bottom: 2px solid $neutral-7;
}

.inputlabel{
	display: inline-block;
	$font-size: $font-size-m;
	text-align: right;
	font-size: $font-size;
	color: $neutral-7;
	min-width: $font-size * 6;
	max-width: $font-size * 6;
}
.inputvalue{
	display: inline-block;
	padding: 0;
	margin: 0;
}


.row { 
	display: table;
	// margin-right: $size-unit * 4 * -1;
	// margin-left: $size-unit * 4 * -1;
	width: 100%;
	// height: 100%;
	min-height: 1px;
	clear: both;
}
.row:before,.row:after,.container:before,.container:after{
	display: table;
	clear: both;
	content: " ";

}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	float: left;
	// border: 1px solid $neutral-5;
	// margin: -1px;
	// padding-top: $spacing-m;
	// padding-bottom: $spacing-m;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}