.tab { 
    display: inline-block;
	background: $neutral-4;
    border-right: $border-width-thin solid $neutral-7;
    border-bottom: $border-width-thin solid $neutral-7;
	color: $neutral-9;
    font-size: $font-size-m;
    line-height: $line-height-m;
    min-width: $icon-size-m + $spacing-s + $font-size-m * 4 + $spacing-s + $icon-size-m + $border-width-thin;
    max-width: $icon-size-m + $spacing-s + $font-size-m * 12 + $spacing-s + $icon-size-m + $border-width-thin;
    padding: $spacing-xs $spacing-m;
	margin-right: -3.4px; 
} 
.tab:hover{
	background: $neutral-3;
}

.tab.selected{ 
	background: $neutral-2;
    border-bottom: $border-width-thin solid $neutral-2;
}

.tab-close{ 
	color: $neutral-8;
	font-size: $font-size-s;
}


.tab.home{ 
    min-width: 0;
}
