.tab { 
    display: inline-block;
	background: $neutral-5;
    border: $border-width-thin solid $neutral-7;
	color: $neutral-9;
    font-size: $font-size-m;
    line-height: $line-height-m;
    max-width: $icon-size-m + $spacing-s + $font-size-m * 6 + $spacing-s + $icon-size-m;
    padding: $spacing-s $spacing-m;
	margin-right: -5px; 
	border-bottom: none;
} 
.tab:hover{
	background: $neutral-4;
}

.tab.selected{ 
	background: $neutral-3;
	border-bottom: none;
}

.tab-close{ 
	color: $neutral-8;
	font-size: $font-size-s;
}


