.tab { 
	background: $neutral-5;
	border: 1px solid $neutral-6; 
	color: $neutral-10;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    max-width: 200px;
    padding: 0 $size-2;
	margin-right: -4px; 
	border-bottom: none;
} 
.tab:hover{
	background: $neutral-4;
}

.tab.selected{ 
	background: $neutral-3;
	border-bottom: none;
}

.tab-close{ 
	color: $neutral-8;
	font-size: 10px;
	margin-left: 4px;
}


