// Color

$white: #FFF;
$black: #000;

$neutral-1: #EBF0FA;
$neutral-2: #DFE3ED;
$neutral-3: #D3D7E0;
$neutral-4: #C7CAD4;
$neutral-5: #BBBDC7;
$neutral-6: #A8ABBA;
$neutral-7: #7E8194;
$neutral-8: #585A6E;
$neutral-9: #363747;
$neutral-10: #191921;

$primary-1: #f0f5ff;
$primary-2: #d6e4ff;
$primary-3: #adc6ff;
$primary-4: #85a5ff;
$primary-5: #597ef7;
$primary-6: #2f54eb;
$primary-7: #1d39c4;
$primary-8: #10239e;
$primary-9: #061178;
$primary-10: #030852;

$info-1: #ECF5FA;
$info-2: #D2E6F3;
$info-3: #AED2E8;
$info-4: #80B8DB;
$info-5: #4B9BCD;
$info-6: #137CBD;
$info-7: #1068A4;
$info-8: #0E5489;
$info-9: #0B3F6F;
$info-10: #082A54;

$success-1: #ECF7F2;
$success-2: #D2ECE1;
$success-3: #ADDCC8;
$success-4: #7EC8A9;
$success-5: #48B186;
$success-6: #0F9960;
$success-7: #0D8556;
$success-8: #0B704B;
$success-9: #095B41;
$success-10: #074636;

$warning-1: #FCF5EE;
$warning-2: #F8E7D7;
$warning-3: #F2D4B6;
$warning-4: #EBBC8D;
$warning-5: #E2A05E;
$warning-6: #D7812B;
$warning-7: #C06925;
$warning-8: #A64F20;
$warning-9: #8C3B1A;
$warning-10: #702614;

$danger-1: #fff1f0;
$danger-2: #ffccc7;
$danger-3: #ffa39e;
$danger-4: #ff7875;
$danger-5: #ff4d4f;
$danger-6: #f5222d;
$danger-7: #cf1322;
$danger-8: #a8071a;
$danger-9: #820014;
$danger-10: #5c0011;

$tmpl-1: #FAEBFA;
$tmpl-2: #EADAEA;
$tmpl-3: #D9BBD9;
$tmpl-4: #C394C3;
$tmpl-5: #AA68AA;
$tmpl-6: #8F398F;
$tmpl-7: #7C317B;
$tmpl-8: #692A66;
$tmpl-9: #562250;
$tmpl-10: #421A3B;
