// spacing
$spacing-xs: $size-unit / 2; // 最小间距，即使是两个紧挨着的控件之间也有一定的间距，而不是 0 间距（除了 Tab、GroupButton 之类互相重叠、间距为负的除外）
$spacing-s: $size-unit * 1; // 较小间距 4 
$spacing-m: $size-unit * 2; // 标准间距 8
$spacing-l: $size-unit * 3; // 较大间距 12

// padding & spacer（控件之间的间距用 spacer 来实现，margin 一般都是 0px，GroupButton、Tab 等个别情况下为负值）
//// $spacing-s，一般用于小容器内的 spacer 和 padding，如按钮、MapNode
//// $spacing-m，默认参数，绝大部分容器内的 padding 和 spacer 都默认为 $spacing-m，如 titlebar、toolbar、
//// $spacing-l，一般用于浮动窗口最外层容器的 padding，如 Tooltips、UserInputDialog、BubbleDialog
//// $spacing-xs：除非特别指明，padding 和 spacer 绝不为 0，即使是两个紧挨着的控件之间也有一定的间距，使用 $spacing-xs、而不是 0px
//// 注，不可见的容器（如 Scrollview）的 padding 一般 0px

// width & height
////宽度、高度由容器的内部元素 + padding + border 计算得出
////如果要设最小、最大值，也是通过预期最少、最多展示的内部元素计算得出
//////如，input 最多显示几个字、list 最多显示几行

//background
$background-color-1: $neutral-1; 
$background-color-2: $neutral-2;
$background-color-3: $neutral-3;
$background-color-4: $neutral-4;

$background-color-mask-hover: rgba( $neutral-8, .18 ); 
$background-color-mask-pressed: rgba( $neutral-8, .38 ); 
$background-color-mask-disabled: rgba( $neutral-8, .08 ); 
$background-color-mask-modal: rgba( $neutral-8, .5 ); 

$background-color-mask-inverse-hover: rgba( $neutral-3, .18 ); 
$background-color-mask-inverse-pressed: rgba( $neutral-3, .38 ); 
$background-color-mask-inverse-disabled: rgba( $neutral-3, .08 ); 
$background-color-mask-inverse-modal: rgba( $neutral-3, .5 ); 

//background-gradient
$background-gradient-light-normal: linear-gradient(0deg, rgba( $white, 0), rgba( $white, 1));
$background-gradient-light-gentle: linear-gradient(0deg, rgba( $white, 0), rgba( $white, 0.1));

//border-color
$border-color-dark: $neutral-6;
$border-color-normal: $neutral-5;
$border-color-light: $neutral-4;
$border-color-faint: $neutral-3;

//border-width
$border-width-thin: 1px;
$border-width-medium: $size-unit * 1/2;
$border-width-thick: $size-unit * 1;

//border-radius-0
$border-radius-0: 0;
$border-radius-s: $size-unit * 1/2;
$border-radius-m: $size-unit * 1;
$border-radius-l: $size-unit * 2;
$border-radius-max: $size-unit * 99; // QSS 不支持该设置，效果是最大圆角，即 min(height,width)/2

// 文字尺寸
$font-size-s: round($font-size * 5/6); //10px
$font-size-m: round($font-size * 6/6); //12px
$font-size-l: round($font-size * 7/6); //14px
$font-size-heading-s: round($font-size * 9/6); //18px;
$font-size-heading-m: round($font-size * 12/6); //24px
$font-size-heading-l: round($font-size * 16/6); //32px;

// 行高，对应 font-size 的 3/2、1.5倍，并向上取偶数
$line-height-s: if(ceil($font-size-s * 3/2) % 2 == 0px, ceil($font-size-s * 3/2), ceil($font-size-s * 3/2) + 1); //16px
$line-height-m: if(ceil($font-size-m * 3/2) % 2 == 0px, ceil($font-size-m * 3/2), ceil($font-size-m * 3/2) + 1); //18px
$line-height-l: if(ceil($font-size-l * 3/2) % 2 == 0px, ceil($font-size-l * 3/2), ceil($font-size-l * 3/2) + 1); //22px

// Icon 尺寸，对应 font-size 的 4/3、1.333倍，并向上取偶数
$icon-size-s: if(ceil($font-size-s * 4/3) % 2 == 0px, ceil($font-size-s * 4/3), ceil($font-size-s * 4/3) + 1); //14px
$icon-size-m: if(ceil($font-size-m * 4/3) % 2 == 0px, ceil($font-size-m * 4/3), ceil($font-size-m * 4/3) + 1); //16px
$icon-size-l: if(ceil($font-size-l * 4/3) % 2 == 0px, ceil($font-size-l * 4/3), ceil($font-size-l * 4/3) + 1); //20px

// TextColor
$color-label-dark: $neutral-10;
$color-label-normal: $neutral-8;
$color-label-light: $neutral-7;
$color-label-faint: $neutral-5;
$color-label-info: $primary-6;
$color-label-success: $success-6;
$color-label-warning: $warning-6;
$color-label-danger: $danger-6;
$color-label-inverse: $neutral-1;

